<html xmlns:th="http://thymeleaf.org">
  <body>
    <div th:fragment="commentThread" th:remove="tag">
      <div th:each="comment : ${thread}" style="margin-left: 1em">
        <div th:inline="text">
          <strong>[[${comment.user.name}]]</strong> - [[${#dates.format(comment.createdDate, 'MMM dd, yyyy h:mm a')}]]
        </div>
        <span th:text="${comment.text}">Example comment</span>
        <div>
          <button class="btn btn-link" th:id="|replyBtn-${comment.id}|" style="margin-left: 12em">reply</button>
        </div>
        <form th:id="|replyForm-${comment.id}|" class="d-none" th:action="@{/products/{productId}/features/{featureId}/comments(productId=${feature.product.id},featureId=${feature.id})}" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <input type="hidden" name="parentId" th:id="|parentId-${comment.id}|" th:value="${comment.id}"/>
          <div class="form-group" style="margin-top: 1.5em">
            <label for="text">Leave a comment below</label>
            <textarea class="form-control" name="childCommentText" th:id="|childCommentText-${comment.id}|" rows="3"></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
          </div>
        </form>
        <hr/>
        <div th:with="thread = ${comment.comments}"
               th:include="fragments/comment.html :: commentThread" th:remove="tag" ></div>
      </div>
    </div>
  </body>
</html>