<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>FreshVotes Homepage</title>
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top: 2em">
        <div class="col-8">
          <h1>Welcome to FreshVotes</h1>
        </div>
        <div class="col-4">
          <button class="btn btn-primary float-right" type="button" id="login">Login</button>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      let loginBtn = document.getElementById('login')
      
      loginBtn.addEventListener('click', function () {
      window.location.href = '/login'
      })
      
    </script>
  </body>
</html>