<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>FreshVotes Products</title>
  </head>
  <body>
    <div class="container">
      <h1>Products</h1>
      
      <div th:each="product : ${products}">
        <a th:href="@{/products/{productId}(productId=${product.id})}" th:text="${product.name}"></a>
      </div>
    </div>
  </body>
</html>