<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <script th:replace="fragments/header :: headerElement"></script>
    <title>FreshVotes Products</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container" th:if="${product != null}">
      <h1>Product</h1>
      
      <form action="" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" th:field="${product.id}"/>
        <input type="hidden" th:field=${product.user}/>
        
        <div class="form-group row">
          <label for="name" class="col-12 col-sm-3 col-md-2 col-form-label">Name:</label> 
          <div class="col-12 col-sm-9 col-md-10">
            <input type="text" class="form-control" th:field="${product.name}" />
          </div>
        </div>
        
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" th:field="${product.published}">
          <label class="custom-control-label" for="published1">is published</label>
        </div>
        
        <button class="btn btn-primary btn-lg">Save Product</button>
      </form>
    </div>
  </body>
</html>